.message {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  justify-content: space-between;


  img {
    height: 40px;
    width: 40px;
    object-fit: contain;
  }

  .message__left {
    display: flex;
  }

  .message__info {
    padding-left: 10px;

    .message__timestamp {
      color: grey;
      font-weight: 300;
      font-size: 13px;
    }
  }

  .message-box {
    width: 100%;
  }

  .translate-button {
    background-color: rgba(107, 8, 205, 0.4);
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
  }
  .translate-button:hover {
    background-color: rgba(107, 8, 205, 0.8);
  }

  p {
    font-weight: normal;
  }
}
