.sidebar {
  color: white;
  background-color: #220185;
  flex: 0.3;
  border-top: 1px solid #49274b;
  max-width: 260px;
  overflow-y: scroll;
}

.stat-card {
  position: relative;
  height: 3em;
  margin: 1em;
  font-size: 1.5em;
  font-family: 'Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif';   
  overflow-y: scroll;
}

.stat-card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

.sidebar__header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding-bottom: 10px;
  padding: 13px;

  &.MuiSvgIcon-root {
    padding: 8px;
    color: #49274b;
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
  }
}

.sidebar__info {
  flex: 1;

  & h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
  }
  & h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    & .MuiSvgIcon-root {
      font-size: 14px;
      margin-top: 1px;
      margin-right: 2px;
      color: green;
    }
  }
}
