.chat__text {
  display: flex;
  border-radius: 20px;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: center;

  .chat__input {
    flex: 0.9;
    font-size: 1.2rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    bottom: 10px;
    width: 60%;
    padding: 20px;
  }

  // .chat__btn {
  //   display: none !important;
  // }
}
