.chat__text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  background-color: linen;
  
  .chat__input {
    flex: 0.9;
    font-size: 1.2rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  .chat__input:focus {
    // border: 2px solid red;
    outline: none;
  }

  .chat__btn {
    border-radius: 5px;
    font-size: 1.2rem;
    width: 5rem;
    border: 1px solid lightgrey;
  }

  .chat__btn:hover {
    background-color: grey;
    border: 1px solid grey;
  }
}